.card-list {
  /* width: 85vw; */
  height: auto;
  /* background: cyan; */
  margin: 0% 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px; */
}
